scikit-learn
pandas
pyttsx3
matplotlib
google-auth==2.27.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
importlib-resources==6.1.1
joblib==1.3.2
keras
libclang==16.0.6
matplotlib
nltk
numpy
oauthlib==3.2.2
opt-einsum==3.3.0
pandas
pyasn1
pyasn1-modules
pyparsing
pytz
regex
requests
requests-oauthlib
tensorflow
tensorflow-estimator
plotly
torch
